<h1>Comparisons Made</h1>

<table>
  <thead>
    <tr>
      <th>Properties Compared</th>
      <th>Price Difference</th>
      <th>Size Difference</th>
      <th>Made By</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @comparisons.each do |comparison| %>
      <tr>
        <td>
          <%= comparison.properties.map(&:title).join(' vs ') %>
        </td>
        <td><%= number_to_percentage(comparison.price_difference, precision: 2) %></td>
        <td><%= number_to_percentage(comparison.size_difference, precision: 2) %></td>
        <td><%= comparison.user&.username || 'Anonymous' %></td>
        <td><%= comparison.created_at.strftime('%B %d, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>