<h1>Property Comparison</h1>

<h2>Property 1: <%= @property_1[:title] %></h2>
<p>Price: <%= @property_1[:formatted_price] %></p>
<p>Size: <%= @property_1[:size] %></p>

<h2>Property 2: <%= @property_2[:title] %></h2>
<p>Price: <%= @property_2[:formatted_price] %></p>
<p>Size: <%= @property_2[:size] %></p>

<h3>Comparison Results</h3>
<p>Price Difference: <%= number_to_percentage(@price_difference, precision: 2) %></p>
<p>Size Difference: <%= number_to_percentage(@size_difference, precision: 2) %></p>

<%= link_to "Download Comparison as XML", export_comparison_path(format: :xml, property_id_1: params[:property_id_1], property_id_2: params[:property_id_2]), class: 'btn btn-primary' %>