<h1>Compare Properties</h1>

<%= form_with url: compare_properties_path, method: :get, local: true do %>
  <div>
    <%= label_tag :property_id_1, "Property ID 1" %>
    <%= text_field_tag :property_id_1 %>
  </div>

  <div>
    <%= label_tag :property_id_2, "Property ID 2" %>
    <%= text_field_tag :property_id_2 %>
  </div>

  <%= submit_tag "Compare" %>
<% end %>
