<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easybroker Property Comparator" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Comparisons Made', comparisons_path %>
      <!-- Add more navigation links as needed -->
    </nav>

    <div class="container">
      <div class="main-content">
        <%= yield %>
      </div>
      <div class="sidebar">
        <%= render 'shared/consulted_properties' %>
      </div>
    </div>
  </body>
</html>
